
.pre-booking-form {
  padding: 20px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: floatEffect 0.5s ease-in-out;
}

@keyframes floatEffect {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.payment-button-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.payment-button-wrapper button {
  padding: 10px 18px;
  font-size: 1.5rem;
  border-radius: 16px;
  background-color: #2C2A2A;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.payment-button-wrapper button:hover {
  transform: scale(1.1);
}


.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.contact-info {
  margin-right: 10px;
}

.contact-info h2 {
  color: #333;
  margin-bottom: 20px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 30px;
}

.map-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 450px;
}

.show{
  width: 30rem;
  height: 38.5rem;
  position: absolute;

  left: 58%;
  margin-top: 1%;
}
.show>img{
 
    width: 100%;
  height: 80%;
}
.left-section{
  background-color: #252525;
  height: 500px;
  
 
}
.left-section p{
 margin-left: -6%;
 padding: 2px 0 0 ;
 font-size: 24px;
}
.logo{
  background-color: #252525;
  padding-inline: -30px;
  border-radius: 13px;
  
}

.menu nav {
  gap: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 59.2px;
  font-size: 1.2rem;
  width: 100%; /* Adjust this value as needed */
}


.menu nav select{
  background-color: rgb(41, 40, 40);
  border: none;
}
@keyframes changeWord {
  0%, 100% { opacity: 1; }
  16.666%, 83.333% { opacity: 0; }
}

.changing-text p:nth-child(3) {
  animation: changeWord 5s infinite;
}

.changing-text p:nth-child(5) {
  animation: changeWord 5s infinite 1.25s; /* Delayed by 1.25s */
}

.changing-text p:nth-child(5) {
  animation: changeWord 5s infinite 2.5s; /* Delayed by 2.5s */
}
/*For Rentals*/
.rental-container {
  background-color: #252525;
  color:  #f2f2f2;
  padding: 24px;
}

.download-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
}

.download-button {
  display: inline-block;
  border-radius: '50%';
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}



.download-button:hover {
  background-color: #ddd1d1;
}


